.banner-area {
    height: 250px;
    padding: 50px 0;
    background: url(../../../../../assets/images/doctors-banner.jpg);
    background-size: cover;
    color: #fff;
    position: relative;
}

.list-item {
    li {
        width: 33.33%;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        position: relative;
        color: #999;
        font: 400 16px/30px "Open Sans", sans-serif;

        &::before {
            content: ".";
            position: absolute;
            letter-spacing: 0;
            top: 6px;
            left: 0;
            line-height: 1px;
            font-size: 30px;
            color: #0099fe;
        }
    }
}