#preloader {
	background-color: #000000;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147483647;
}
.loading {
    width: 100%;
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0px auto;
    margin-top: -90px;
}
.loading svg {
	width: 100%;
	height: 100%;
}
.loading #pulsar{
	stroke-dasharray:281;
	-webkit-animation: enter-animation 2.5s infinite linear forwards;
	animation: enter-animation 2.5s infinite linear forwards;
}
@keyframes enter-animation { from{stroke-dashoffset:814;} to {stroke-dashoffset:-814;}}