<div class="common-filter">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <select class="form-select h-100" [(ngModel)]="selectedFilters.country"
                    (ngModelChange)="getCityList(true)">
                    <option selected disabled>Select Country</option>
                    <option [value]="item.code" *ngFor="let item of countryList" [title]="item.countryName">{{item.countryName}}</option>
                </select>
            </div>
            <div class="col-sm-6">
                <select class="form-select h-100" [(ngModel)]="selectedFilters.city"
                    (ngModelChange)="setGeneralSubscription()">
                    <option selected [value]="0">All cities</option>
                    <option [value]="item.id" *ngFor="let item of cityList" [title]="item.cityName">{{item.cityName}}</option>
                </select>
            </div>
        </div>
    </div>
</div>