<div id="accordion" class="product-filters">
    <div class="card border-0" *ngFor="let item of filterCategoriesCopy;let i = index">
        <a class="card-header rounded-0 ellipsis link p-all-15" data-bs-toggle="collapse" [href]="'#'+item.code" [title]="item.title" (click)="item.search = ''">
            <span>{{item.title}}</span>
            <fa-icon class="icon" [icon]="faAngleDown"></fa-icon>
        </a>
        <div [id]="item.code" class="collapse" data-bs-parent="#accordion" [ngClass]="{'show': i == 0}">
            <div class="card-body p-0" *ngIf="item.type === 'string'">
                <div class="search-area position-relative card-header p-all-10">
                    <input class="form-control pright-35" type="text" [(ngModel)]="item.search" placeholder="Search by {{item.title}}">
                    <fa-icon class="search-icon pointer" *ngIf="!item.search" [icon]="faSearch"></fa-icon>
                    <fa-icon class="search-icon pointer" *ngIf="item.search" [icon]="faTimesCircle" (click)="item.search = ''"></fa-icon>
                  </div>
                <div class="card border-0" *ngFor="let subItem of filterData[item.code] | searchFilterPipe:'title':item.search">
                    <div class="card-header link pointer rounded-0 p-all-15" [title]="subItem.title"> 
                        <mat-checkbox  color="warn" (change)="updateFilter(item, subItem)" [checked]= "selectFiltersObj[item.code].includes(subItem.id)"><div class="ellipsis custom-wide">{{subItem.title}}</div></mat-checkbox>
                    </div>
                </div>
                <div class="card-header text-center fw-normal" *ngIf="!filterData[item.code] || filterData[item.code] && filterData[item.code].length <=0">No data availble</div>
            </div>
            <div class="card-body" *ngIf="item.type === 'numeric'">
                <ngx-slider [(value)]="selectFiltersObj[item.code].minValue" [(highValue)]="selectFiltersObj[item.code].maxValue" [options]="sliderOptions" (userChangeEnd)="getUpdatedFilteredList(item, selectFiltersObj[item.code])"></ngx-slider>
            </div>
        </div>
    </div>
</div>