.product-filters {
    border: 1px solid #EBEBEB;
    margin-top: 5px;
    border-radius: 6px;

    .card {
        .card-header {
            background-color: #e7fcff;

            &.link {
                text-decoration: none;

                &:focus,
                &:hover {
                    color: var(--primary-color);
                }

                .icon {
                    position: absolute;
                    right: 15px;
                }
            }

            .custom-wide {
                width: calc(100% - 70px);
            }
        }

        .card-body {
            max-height: 310px;
            overflow: auto;

            .card-header {
                background-color: #f8f8f8;
            }
        }
    }
}
.search-area {
    input {
        border-color: #ced4da;

        &:focus,
        &:focus-visible {
            outline: none;
            box-shadow: none;
            border-color: #ced4da;
        }
    }
    .search-icon {
        position: absolute;
        right: 12px;
        top: 11px;
        width: 35px;
        height: 36px;
        text-align: center;
        padding: 9px 6px;
        color: lightgray;
    }
    // &:hover{
    //     input, .search-icon {
    //         border-color: var(--primary-color);
    //     }
    //     .search-icon {
    //         color: var(--primary-color);
    //     }
    // }
        
}