<footer class="text-center">
  <div class="container">
    <div class="ptop-25 pbottom-25">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <ul class="foot-menu">
              <li><a href="/Pages/TermsAndConditions">Terms &amp; Conditions</a></li>
              <li><a href="/Pages/PrivacyPolicy">Privacy Policy</a></li>
              <li><a href="/Pages/CompanySupport">Company Support </a></li>
              <li><a href="/Pages/FAQuestions">FAQ</a></li>
              <li><a href="/Pages/CompanyLicence">Company Licence</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="d-md-flex flex-md-wrap justify-content-center align-items-center">
            <ul class="foot-c">
              <li><a href="mailto:support@rlv.com"><fa-icon class="mright-5" [icon]="faEnvelope"></fa-icon> support@rlv.com</a>
              </li>
              <li><a href="tel:+91-9560960088"><fa-icon class="mright-5" [icon]="faPhone"></fa-icon> +91-9560960088</a></li>
            </ul>
            <div class="social-bx">
              <ul class="list-inline footer-socials">
                <li class="list-inline-item"><a class="rlv-socialicon" href="https://www.linkedin.com/company/rlv"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
                <li class="list-inline-item"><a class="rlv-socialicon" href="https://www.facebook.com/rvl-100223699397576"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
                <li class="list-inline-item"><a class="rlv-socialicon" href="https://twitter.com/rvl"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                <li class="list-inline-item"><a class="rlv-socialicon" href="https://www.instagram.com/rvl"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="copyright">
            © Copyright Reserved to <a href="#" target="_blank"><span class="text-color">RLV</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
